* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: white;
  font-family: 'Lato', sans-serif; }

.wrapper {
  width: 100%; }

.introduction__container {
  background: #CDEE4A;
  width: 100%; }

.hamburguer__menu {
  float: right;
  width: 7%;
  margin-right: 40px;
  margin-top: -12%; }
  @media (min-width: 769px) {
    .hamburguer__menu {
      width: 4%;
      margin-top: -1%; } }

.logo {
  position: relative;
  font-size: 2rem;
  top: 63px;
  left: 18px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .logo {
      left: 42px; } }

.introduction {
  margin-top: 22%;
  font-size: 2rem;
  margin-left: 19%;
  color: white;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .introduction {
      margin-top: 15%;
      font-size: 3rem; } }

.aboutme__title {
  margin-left: -61%;
  margin-top: 85%;
  font-size: 2rem;
  font-family: 'PT Mono', monospace;
  transform: rotate(-270deg); }

hr {
  border: none;
  border-left: 5px solid black;
  height: 26vh;
  margin-left: 18%;
  margin-top: -40%; }
  @media (min-width: 768px) {
    hr {
      height: 46vh;
      margin-left: 19%;
      margin-top: -60%; } }

.close__decorative {
  width: 12%;
  margin-left: 13%;
  margin-top: 16px; }

.close__decorative--works {
  margin-left: 6%;
  width: 12%;
  margin-top: 3%; }

.aboutme__text {
  font-size: 18px;
  text-align: start;
  margin-left: 29%;
  margin-top: -33px;
  line-height: 46px;
  font-family: 'PT Mono', monospace; }
  @media (min-width: 768px) {
    .aboutme__text {
      font-size: 23px; } }

.aboutme__text--container {
  background: white; }

.socialmedia__container {
  margin-top: 12%;
  height: 39vh;
  border: 28px solid #CDEE4A;
  background: white; }

.socialmedia__title {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 2%; }
  @media (min-width: 768px) {
    .socialmedia__title {
      font-size: 3rem;
      margin-top: 6%; } }
  @media (min-width: 500px) {
    .socialmedia__title {
      margin-top: 13%; } }

.socialmedia__image {
  width: 2.4em;
  height: auto; }

a img:hover {
  fill: black; }

.socialmedia__links {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  margin-top: 19px;
  margin-left: 35px; }

ul {
  list-style: none;
  display: inherit; }

ul.socialmedia__list li a {
  font-family: 'PT Mono', monospace;
  text-align: left;
  line-height: 2;
  text-decoration: none;
  color: black; }

ul.socialmedia__list li a:hover {
  color: #CDEE4A; }

.horizontal {
  height: 7px;
  width: 11%;
  background-color: black;
  margin-left: 41px;
  position: relative;
  top: 97%; }
  @media (min-width: 768px) {
    .horizontal {
      top: 75%;
      margin-left: 78px; } }

.second__horizontal {
  height: 7px;
  width: 96%;
  background-color: black;
  margin-left: 2%;
  margin-top: 1%; }

.menu__container {
  height: 15vh; }

.menu__title {
  position: relative;
  font-size: 4rem;
  top: 63px;
  left: 42px;
  text-transform: uppercase; }

.menu__list {
  display: flex;
  justify-content: space-evenly;
  font-size: 2em;
  position: relative;
  bottom: -40%;
  font-family: 'PT Mono', monospace; }

.menu__item {
  text-decoration: none;
  color: black; }

.menu__item:hover {
  color: #CDEE4A; }

span {
  font-size: 12px; }

@media (min-width: 500px) {
  .span__social {
    font-size: 12px;
    position: relative;
    top: 21px;
    left: -53%; } }

.hr__work {
  border: none;
  border-left: 5px solid black;
  height: 54vh;
  margin-left: 11%;
  margin-top: -89%; }
  @media (min-width: 500px) {
    .hr__work {
      margin-top: -59%; } }

.aboutme__work {
  font-size: 3rem;
  line-height: 78px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center; }

.text__work {
  text-align: right;
  margin-right: 15px;
  margin-top: 12px;
  font-size: 19px;
  font-family: 'PT Mono', monospace; }

.work__title {
  text-align: center;
  font-size: 6rem;
  margin-top: 15%; }
  @media (min-width: 768px) {
    .work__title {
      margin-top: 12%; } }

.work__span {
  background-color: #CDEE4A;
  text-transform: uppercase;
  font-size: 4rem; }

.project__image {
  width: 84%;
  margin-left: 48px;
  margin-top: 57px;
  border: 4px solid #CDEE4A; }
  @media (min-width: 768px) {
    .project__image {
      width: 32%;
      margin-left: 35%;
      margin-top: 57px; } }

.project__image:hover {
  background-color: #CDEE4A; }

.work__horizontal {
  height: 7px;
  width: 96%;
  background-color: black;
  margin-left: 2%;
  margin-top: 27px; }

.logo__work {
  position: relative;
  font-size: 4rem;
  top: 63px;
  left: 18px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .logo__work {
      left: 42px; } }

.logo__work:hover {
  color: white;
  transition: 1s; }

.introduction__work:hover {
  color: black;
  transition: 1s; }

.works__container {
  background: #CDEE4A;
  height: 78vh; }

.introduction__play {
  margin-top: 17%;
  font-size: 3rem;
  margin-left: 19%;
  color: white;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .introduction__play {
      margin-top: 6%; } }

.logo__play {
  position: relative;
  font-size: 4rem;
  top: 63px;
  left: 18px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .logo__play {
      left: 11%; } }

.camera__image {
  margin-left: 54%;
  margin-top: 29px;
  width: 11%; }

.logo__play {
  position: relative;
  font-size: 4rem;
  top: 63px;
  left: 18px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .logo__play {
      left: 42px; } }

.logo__play:hover {
  color: white;
  transition: 1s; }

.introduction__play:hover {
  color: black;
  transition: 1s; }

/*# sourceMappingURL=style.css.map */
